#soundButton {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    font-family: 'Oswald';
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
}

.activeSoundButton::after {
    content: "   🔊"
}