.oneGame {
    background-image: "../images/honky-rink.png";
    border: 2px solid black;
    border-radius: 30px;
    width: 800px;
    margin: 20px auto;
}

.infoFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.awayTeamInfo, .homeTeamInfo {
    width: 300px;
}

.awayTeamName, .homeTeamName {
    margin-bottom: 0;
}

.awayLogo, .homeLogo {
    width: 100px;
}

.awayRecord, .homeRecord {
    margin: 0;
}

.gameStatus {
    margin: 10px;
}

.gameProgress {
    margin: 5px;
}

.gameScore {
    font-size: 50px;
    margin: 20px auto;
}

.oneTeamGoals {
    margin: 20px 0;
    width: 240px;
}

.oneGoal {
    margin: 2px;
    font-size: 14px;
    height: 15px;
}

.gameGoals {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

hr {
    margin: 10px;
    color: black;
}