.oneGame {
    border: 2px solid black;
    border-radius: 30px;
    width: 800px;
    margin: 20px auto;
}

.center-line {
    background: linear-gradient(red, red) no-repeat center/3px 100%;
}

.left-blueline {
    background-image: linear-gradient(blue, blue);
    background-size: 3px 100%;
    background-repeat: no-repeat;
    background-position: 38%;
}

.right-blueline {
    background-image: linear-gradient(blue, blue);
    background-size: 3px 100%;
    background-repeat: no-repeat;
    background-position: 62%;
}

.circle {
    background-color: #fff;
    border: 3px solid blue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: -2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    text-align: center;
    margin-top: 110px;
}

.circle-siren {
    position: absolute;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 117px;
}

.infoFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.awayTeamInfo,
.homeTeamInfo {
    width: 300px;
}

.awayTeamName,
.homeTeamName {
    margin-bottom: 0;
}

.awayLogo,
.homeLogo {
    width: 100px;
}

.awayRecord,
.homeRecord {
    margin: 0;
}

.gameStatus {
    margin: 10px;
}

.gameProgress {
    margin: 5px;
}

.gameScore {
    font-size: 50px;
    margin: 20px auto;
}

.oneTeamGoals {
    margin: 20px -30px;
    width: 240px;
}

.oneGoal {
    margin: 2px;
    font-size: 14px;
    height: 15px;
}

.gameGoals {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 293px;
}

hr {
    margin: 10px;
    color: black;
}